name: Maven Build

on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compile and Test with Maven
        run: mvn clean verify

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          mvn sonar:sonar
          -Dsonar.projectKey=kashishrastogi03_java-project
          -Dsonar.organization=kashishrastogi03
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.login=$SONAR_TOKEN
          -Dsonar.projectName=java-project
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml

      - name: Upload JUnit Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: '**/target/surefire-reports/TEST-*.xml'

      - name: Build Docker Image
        run: |
          docker build -t my-java-app .

      - name: Install Grype
        run: |
          mkdir -p ./bin
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b ./bin || { echo "Grype installation failed"; exit 1; }
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Update Grype DB
        run: grype db update || { echo "Failed to update Grype DB"; exit 1; }

      - name: Scan and Generate Grype Report (JSON)
        run: |
          grype my-java-app:latest -o json > grype-report.json || { echo "Grype scan failed"; exit 1; }
        continue-on-error: true

      - name: Upload Grype Report
        uses: actions/upload-artifact@v4
        with:
          name: grype-report
          path: grype-report.json

      - name: List Bicep files
        run: |
          echo "Looking for Bicep files..."
          find . -name '*.bicep' || echo "No Bicep files found."

      - name: Bicep Lint
        run: |
          files=$(find . -name '*.bicep')
          if [ -z "$files" ]; then
            echo "No Bicep files to lint."
            exit 0
          fi

          for file in $files; do
            echo "Linting $file"
            bicep build "$file" || exit 1
          done
